<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Register</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="username">Username:</label>
                    {{ form.username(class="form-control", placeholder="Enter username") }}
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date of Birth:</label>
                    {{ form.date_of_birth(class="form-control", placeholder="Enter date of birth") }}
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    {{ form.password(class="form-control", placeholder="Enter password") }}
                </div>
                <div class="form-group text-right"> <!-- Add the "text-right" class here -->
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <p class="mt-3">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
</div>

</body>
</html>
